In [3]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Stack overflow\Py-Spark\records.csv")
print(df)

        Name   age
0     Tharun    21
1     Naveen    20
2  John Ajay    19

In [4]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [5]:
spark

In [12]:
df = spark.read.option("header", "true").csv(r"C:\Stack overflow\Py-Spark\records.csv")

In [13]:
df.show()

+---------+----+
|     Name| age|
+---------+----+
|   Tharun|  21|
|   Naveen|  20|
|John Ajay|  19|
+---------+----+

In [16]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |--  age: string (nullable = true)