In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Part-1").getOrCreate()

In [3]:
spark

In [9]:
df = spark.read.option("header", "true").csv(r"C:\Stack overflow\Py-Spark\records.csv", inferSchema=True)

In [10]:
df.show()

+---------+----+-----------+
|     Name| age| experience|
+---------+----+-----------+
|   Tharun|21.0|       10.0|
|   Naveen|20.0|        8.0|
|John Ajay|19.0|        4.0|
+---------+----+-----------+

In [11]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |--  age: double (nullable = true)
 |--  experience: double (nullable = true)

In [18]:
df.select(["Name", " age"]).show()

+---------+----+
|     Name| age|
+---------+----+
|   Tharun|21.0|
|   Naveen|20.0|
|John Ajay|19.0|
+---------+----+

In [21]:
df.dtypes

[('Name', 'string'), (' age', 'double'), (' experience', 'double')]

In [23]:
df.describe().show()

+-------+---------+----+-----------------+
|summary|     Name| age|       experience|
+-------+---------+----+-----------------+
|  count|        3|   3|                3|
|   mean|     NULL|20.0|7.333333333333333|
| stddev|     NULL| 1.0|3.055050463303893|
|    min|John Ajay|19.0|              4.0|
|    max|   Tharun|21.0|             10.0|
+-------+---------+----+-----------------+

In [30]:
df = df.withColumn("2 years later experience", df[" experience"] + 2)

In [31]:
df.show()

+---------+----+-----------+------------------------+
|     Name| age| experience|2 years later experience|
+---------+----+-----------+------------------------+
|   Tharun|21.0|       10.0|                    12.0|
|   Naveen|20.0|        8.0|                    10.0|
|John Ajay|19.0|        4.0|                     6.0|
+---------+----+-----------+------------------------+

In [32]:
df_factor = df.withColumn("factor", df[" age"] / df[" experience"])
df_factor.show()

+---------+----+-----------+------------------------+------+
|     Name| age| experience|2 years later experience|factor|
+---------+----+-----------+------------------------+------+
|   Tharun|21.0|       10.0|                    12.0|   2.1|
|   Naveen|20.0|        8.0|                    10.0|   2.5|
|John Ajay|19.0|        4.0|                     6.0|  4.75|
+---------+----+-----------+------------------------+------+

In [33]:
df_factor.drop(["Name", " age", " experience"])
df_factor.show()

PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got list.