In [25]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer

In [2]:
spark = SparkSession.builder.appName("Py-Spark-2").getOrCreate()
spark

In [3]:
df = spark.read.csv(r"C:\Stack overflow\Py-Spark\records.csv", header=True, inferSchema=True)

In [4]:
df.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Tharun|  21|        10| 30000|
|   Naveen|  20|         8| 25000|
|John Ajay|  19|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [18]:
df.na.drop(subset=["Age", "Salary"]).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Tharun| 21|        10| 30000|
|   Naveen| 20|         8| 25000|
|John Ajay| 19|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
+---------+---+----------+------+

In [24]:
df.na.fill(value="kl", subset="Age").show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Tharun|  21|        10| 30000|
|   Naveen|  20|         8| 25000|
|John Ajay|  19|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
imputer = Imputer(
    inputCols=["Age", "Experience", "Salary"],
    outputCols=["Age", "Experience", "Salary"],
    strategy="mean"
)

In [28]:
imputer.fit(df).transform(df).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Tharun| 21|        10| 30000|
|   Naveen| 20|         8| 25000|
|John Ajay| 19|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| 24|         5| 40000|
|     NULL| 34|        10| 38000|
|     NULL| 36|         5| 25750|
+---------+---+----------+------+

In [31]:
df.describe().show()

+-------+------+-----------------+------------------+-----------------+
|summary|  Name|              Age|        Experience|           Salary|
+-------+------+-----------------+------------------+-----------------+
|  count|     7|                8|                 7|                8|
|   mean|  NULL|            24.75| 5.428571428571429|          25750.0|
| stddev|  NULL|6.541078984824621|3.8234863173611093|9361.776388210581|
|    min|Harsha|               19|                 1|            15000|
|    max|Tharun|               36|                10|            40000|
+-------+------+-----------------+------------------+-----------------+