In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Py-Spark-3").getOrCreate()
spark

In [5]:
df = spark.read.csv(r"C:\Stack overflow\Py-Spark\records.csv", header=True, inferSchema=True)
df.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Tharun| 21|        10| 30000|
|   Naveen| 20|         8| 25000|
|John Ajay| 19|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df.filter("Salary <= 20000").select(["Name", "Age"]).show()

+---------+---+
|     Name|Age|
+---------+---+
|John Ajay| 19|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [15]:
df.filter(~(df["Salary"] <= 20000) | (df.Age == 19)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Tharun| 21|        10| 30000|
|   Naveen| 20|         8| 25000|
|John Ajay| 19|         4| 20000|
+---------+---+----------+------+