In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Py-Spark-4").getOrCreate()
spark

In [3]:
df = spark.read.csv(r"C:\Stack overflow\Py-Spark\records.csv", header=True, inferSchema=True)
df.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|   Tharun|Data Science| 10000|
|   Tharun|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|   Tharun|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [8]:
df.groupBy(["Name"]).sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|   Tharun|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [11]:
df.groupBy(["Name"]).count().show()

+---------+-----+
|     Name|count|
+---------+-----+
|Sudhanshu|    3|
|    Sunny|    2|
|   Tharun|    3|
|   Mahesh|    2|
+---------+-----+

In [12]:
df.agg({
    "Salary": "sum"
}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [16]:
df.groupby(["Department"]).max().show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+